{% extends 'base.html' %}

{% block title %}
<title>Главная</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Smth</h1>

        <form action="login" method="post">

            {{ form.csrf_token() }}

            {% for field in form if field.email != "csrf_token" %}
            <p>{{ field.label() }}</p>
            <p>{{ field }}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </p>
            {% endfor %}

        </form>
        <a href="/registration">Reg</a>
    </div>
</div>
{% endblock %}