{% extends 'base.html' %}

{% block title %}
<title>Главная</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Smth</h1>
        </ul>
        {{ form.email.label() }} <!--Название-->
        {{ form.email() }} <!--Поле--> <br> <br>

        {{ form.password.label() }}
        {{ form.password() }} <br> <br>

        {{ form.submit }} <br> <br>

        {# выводим ошибки валидации, связанные с полем #}
        {% for error in form.email.errors %}
            {{ error }}
        {% endfor %}
        <a href="/registration">Reg</a>
    </div>
</div>
{% endblock %}