<!DOCTYPE html>
<Html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/base_styles.css">
        <title>Marketplace database</title>

    </head>

    <body>
        <header class="header-bar">
            <div class="container">
                <div class="upper-block">
                    <a href="/web_project/templates/main.htmls">
                        <img class="logo" src="../static/css/images/svg/logo.svg" alt="logo">
                    </a>
                    <div class="accont-block">
                        <span class="icon"></span>
                        <a href="/web_project/templates/personal_account.html" class="Name-Lastname">Bogdan Froltsov</a>
                    </div>
                </div>
            </div>
        </header>
        <main class="main-content">
            <div class="container">
                <div class="middle-block">
                    <div class="left-bar">
                        <p class="bar-element bar-element_active">
                            History
                        </p>
                        <p class="bar-element">
                            History 2
                        </p>
                        <p class="bar-element">
                            History 3
                        </p>
                    </div>
                    <div class="main-block">
                        <div class="menagment-block">
                            <!-- <ul class="filters-list">
                                <li class="filters-item header-text">
                                    <h5>
                                        Filters:
                                    </h5>
                                </li>
                                <li class="filters-item">
                                    by date
                                    <button class="filters-buttons"></button>
                                </li>
                                <li class="filters-item">
                                    by volume
                                    <button class="filters-buttons"></button>
                                </li>
                                <li class="filters-item">
                                    by price
                                    <button class="filters-buttons"></button>
                                </li>
                                <li class="filters-item">
                                    my cart
                                    <button class="filters-buttons"></button>
                                </li>

                            </ul> -->
                        </div>
                        <div class="bar-element__content bar-element__content_active"> ТУТ ЧОТА 1</div>
                        <div class="bar-element__content"> ТУТ ЧОТА 2 <br> ТУТ ЧОТА 2</div>
                        <div class="bar-element__content"> ТУТ ЧОТА 3 <br> ТУТ ЧОТА 3 <br> ТУТ ЧОТА 3</div>
                    </div>
                </div>
            </div>
        </main>
        <script src="../static/js/jquery-3.5.1.min.js"></script>
        <script src="../static/js/script (2).js"></script>
    </body>

</Html>