<!DOCTYPE html>
<Html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/base_styles.css">
         <title>Menagment Acconut</title>
    </head>
    <body>
        <header class="header-bar">
            <div class="container">
                <div class="upper-block">
                    <a href="/web_project/templates/main.html">
                    <img class="logo" src="../static/css/images/svg/logo.svg" alt="logo">
                    </a>
                    <div class="accont-block">
                        <span class="icon"></span>
                        <p class="Name-Lastname">Bogdan Froltsov</p>
                    </div>
                </div>
            </div>
        </header>
        <main class="main-content">
            <div class="container">

            </div>
        </main>
    </body>
</Html>