{% extends 'base.html' %}

{% block title %}
<title>Главная</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Smth</h1>
        </ul>
        {{ form.name.label() }} <!--Название-->
        {{ form.name() }} <!--Поле-->  <br> <br>

        {{ form.surname.label() }}
        {{ form.surname() }}  <br> <br>

        {{ form.email.label() }}
        {{ form.email() }}  <br> <br>

        {{ form.password.label() }}
        {{ form.password() }}  <br> <br>

        {{ form.submit }}  <br> <br>

        {# выводим ошибки валидации, связанные с полем #}
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
        <a href="/login">Log in</a>
    </div>
</div>
{% endblock %}